<div class="album py-5 bg-light">
        <div class="container">
<%=link_to "Create a New Item", new_portfolio_path  if logged_in?(:site_admin)%>
          <div class="row sortable">
          <% @port_items.each do |x| %>
            <div class="col-md-4 <%= "move" if logged_in?(:site_admin)%>" data-id='<%=x.id%>' >
              <div class="card mb-4 shadow-sm">
              
                <%= image_tag x.main_image unless x.second_image.nil? %>
                <div class="card-body" >
                  <p class="card-text"><span class ='portTitle'><%= link_to x.title, portfolio_path(x)%></span>
                  <span class="subTitle"><%=x.subtitle%></span>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'Delete Item', portfolio_path(x), method: :delete, data: { confirm: 'Are you sure?' }  if logged_in?(:site_admin)%>
                      <%=link_to "Edit", edit_portfolio_path(x)  if logged_in?(:site_admin)%>
                    </div>
                    
                  </div>
                </div>
              </div>
          
            </div>
            <%end%>
  </div>
    
</div>


<!--Rails way to create a path to another page-->
