<div class="container">
    <div class="row">
        <div class="col-md-7">
        <%= image_tag @port_items.main_image%>
        </div>
        <div class="col-md-5">
            <h1><%=@port_items.title%><h1>
            <hr>
            <h4><i><%=@port_items.subtitle%></i></h4>
            <p><%=@port_items.body%></p>
            <h3>Technologies Used</h3>
<!--Get just the technologies values-->
            <% @port_items.technologies.each do |t|%>
             <p> <em> <%= t.name %></em></p>
            <% end %>
        </div>
    </div>
</div>






 