<h1>show</h1>

<%= image_tag @port_items.main_image%>

<h1><%=@port_items.title%><h1>
<h4><i><%=@port_items.subtitle%></i></h4>
<p><%=@port_items.body%></p>

<h2>Technologies Used</h2>
<% @port_items.technologies.each do |t|%>
   <p> <%= t.name %></p>
<% end %>
