   <div class="<%= location %>">
      <%= link_to "Home", root_path%>
      <%= link_to "About", pages_about_path  %>
      <%= link_to "Contact", pages_contact_path%>
      <%= link_to "Blogs", blogs_path%>
     <%= link_to "Portfolio", portfolios_path%>
    </div>